 /* color palette: light grey #D6D6D6
bright yellow #FFEE32
yellow orange #FFD300
medium grey #333533 
dark grey #202020 
heres a change*/

body {
    background-color: #D6D6D6;
  };

input {
  border-radius: "18px";
  background-color: "#FFEE32";
  font-size : "20px";
  text-align: "center";
  width: "40%";
  margin-left: "auto";
  margin-right: "auto";
}
